/* $Id: $ */
@CHARSET "UTF-8";


.bg {
	background-repeat: repeat;
	border: 1px solid;
	border-color: #dadadb;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.fcontainer {
	width: 400px;
	height: 275px;
	margin: 55px auto;
	border-radius: 5px 5px 5px 5px;
}

.ptxt {
	font-size: 12px;
}

.errortxt {
	margin-left:15px;
	color:#FF0000;
	font-size: 12px;
}

.header {
	margin-left: 50px;
	margin-right: 40px;
}

.addpasswordoutersection {
	width: 470px;
	margin: 10px auto;
}

.addpasswordcontainer {
	width: 100%;
}
