/*$Id$*/
.flag_93_AF,.flag_AF{background-position:0px 0px;}
.flag_355_AL,.flag_AL{background-position:-20px 0px;}
.flag_213_DZ,.flag_DZ{background-position:-40px 0px;}
.flag_1_AS,.flag_AS{background-position:-60px 0px;}
.flag_376_AD,.flag_AD{background-position:-80px 0px;}
.flag_244_AO,.flag_AO{background-position:-100px 0px;}
.flag_1_AI,.flag_AI{background-position:-120px 0px;}
.flag_1_AG,.flag_AG{background-position:-140px 0px;}
.flag_54_AR,.flag_AR{background-position:-160px 0px;}
.flag_374_AM,.flag_AM{background-position:-180px 0px;}
.flag_297_AW,.flag_AW{background-position:-200px 0px;}
.flag_247_AC,.flag_AC{background-position:-220px 0px;}
.flag_61_AU,.flag_AU{background-position:-240px 0px;}
.flag_672_AX,.flag_AX{background-position:-260px 0px;}
.flag_43_AT,.flag_AT{background-position:0px -14px;}
.flag_994_AZ,.flag_AZ{background-position:-20px -14px;}
.flag_1_BS,.flag_BS{background-position:-40px -14px;}
.flag_973_BH,.flag_BH{background-position:-60px -14px;}
.flag_880_BD,.flag_BD{background-position:-80px -14px;}
.flag_1_BB,.flag_BB{background-position:-100px -14px;}
.flag_375_BY,.flag_BY{background-position:-120px -14px;}
.flag_32_BE,.flag_BE{background-position:-140px -14px;}
.flag_501_BZ,.flag_BZ{background-position:-160px -14px;}
.flag_229_BJ,.flag_BJ{background-position:-180px -14px;}
.flag_1_BM,.flag_BM{background-position:-200px -14px;}
.flag_975_BT,.flag_BT{background-position:-220px -14px;}
.flag_591_BO,.flag_BO{background-position:-240px -14px;}
.flag_387_BA,.flag_BA{background-position:-260px -14px;}
.flag_267_BW,.flag_BW{background-position:0px -28px;}
.flag_55_BR,.flag_BR{background-position:-20px -28px;}
.flag_1_VG,.flag_VG{background-position:-40px -28px;}
.flag_673_BN,.flag_BN{background-position:-60px -28px;}
.flag_359_BG,.flag_BG{background-position:-80px -28px;}
.flag_226_BF,.flag_BF{background-position:-100px -28px;}
.flag_257_BI,.flag_BI{background-position:-120px -28px;}
.flag_855_KH,.flag_KH{background-position:-140px -28px;}
.flag_237_CM,.flag_CM{background-position:-160px -28px;}
.flag_1_CA,.flag_CA{background-position:-180px -28px;}
.flag_238_CV,.flag_CV{background-position:-200px -28px;}
.flag_1_KY,.flag_KY{background-position:-220px -28px;}
.flag_236_CF,.flag_CF{background-position:-240px -28px;}
.flag_235_TD,.flag_TD{background-position:-260px -28px;}
.flag_56_CL,.flag_CL{background-position:0px -42px;}
.flag_86_CN,.flag_CN{background-position:-20px -42px;}
.flag_57_CO,.flag_CO{background-position:-40px -42px;}
.flag_269_KM,.flag_KM{background-position:-60px -42px;}
.flag_242_CG,.flag_CG{background-position:-80px -42px;}
.flag_682_CK,.flag_CK{background-position:-100px -42px;}
.flag_506_CR,.flag_CR{background-position:-120px -42px;}
.flag_225_CI,.flag_CI{background-position:-140px -42px;}
.flag_385_HR,.flag_HR{background-position:-160px -42px;}
.flag_53_CU,.flag_CU{background-position:-180px -42px;}
.flag_599_CW,.flag_CW{background-position:-100px -224px;}
.flag_357_CY,.flag_CY{background-position:-200px -42px;}
.flag_420_CZ,.flag_CZ{background-position:-220px -42px;}
.flag_243_CD,.flag_CD{background-position:-240px -42px;}
.flag_45_DK,.flag_DK{background-position:-260px -42px;}
.flag_246_DG,.flag_DG{background-position:0px -56px;}
.flag_253_DJ,.flag_DJ{background-position:-20px -56px;}
.flag_1_DM,.flag_DM{background-position:-40px -56px;}
.flag_1_DO,.flag_DO{background-position:-60px -56px;}
.flag_670_TL,.flag_TL{background-position:-80px -56px;}
.flag_593_EC,.flag_EC{background-position:-100px -56px;}
.flag_20_EG,.flag_EG{background-position:-120px -56px;}
.flag_503_SV,.flag_SV{background-position:-140px -56px;}
.flag_240_GQ,.flag_GQ{background-position:-160px -56px;}
.flag_291_ER,.flag_ER{background-position:-180px -56px;}
.flag_372_EE,.flag_EE{background-position:-200px -56px;}
.flag_251_ET,.flag_ET{background-position:-220px -56px;}
.flag_500_FK,.flag_FK{background-position:-240px -56px;}
.flag_298_FO,.flag_FO{background-position:-260px -56px;}
.flag_679_FJ,.flag_FJ{background-position:0px -70px;}
.flag_358_FI,.flag_FI{background-position:-20px -70px;}
.flag_33_FR,.flag_FR{background-position:-40px -70px;}
.flag_594_GF,.flag_GF{background-position:-60px -70px;}
.flag_689_PF,.flag_PF{background-position:-80px -70px;}
.flag_241_GA,.flag_GA{background-position:-100px -70px;}
.flag_220_GM,.flag_GM{background-position:-120px -70px;}
.flag_995_GE,.flag_GE{background-position:-140px -70px;}
.flag_49_DE,.flag_DE{background-position:-160px -70px;}
.flag_233_GH,.flag_GH{background-position:-180px -70px;}
.flag_350_GI,.flag_GI{background-position:-200px -70px;}
.flag_30_GR,.flag_GR{background-position:-220px -70px;}
.flag_299_GL,.flag_GL{background-position:-240px -70px;}
.flag_1_GD,.flag_GD{background-position:-260px -70px;}
.flag_590_GP,.flag_GP{background-position:0px -84px;}
.flag_1_GU,.flag_GU{background-position:-20px -84px;}
.flag_502_GT,.flag_GT{background-position:-40px -84px;}
.flag_224_GN,.flag_GN{background-position:-60px -84px;}
.flag_245_GW,.flag_GW{background-position:-80px -84px;}
.flag_592_GY,.flag_GY{background-position:-100px -84px;}
.flag_509_HT,.flag_HT{background-position:-120px -84px;}
.flag_504_HN,.flag_HN{background-position:-140px -84px;}
.flag_852_HK,.flag_HK{background-position:-160px -84px;}
.flag_36_HU,.flag_HU{background-position:-180px -84px;}
.flag_354_IS,.flag_IS{background-position:-200px -84px;}
.flag_91_IN,.flag_IN{background-position:-220px -84px;}
.flag_62_ID,.flag_ID{background-position:-240px -84px;}
.flag_98_IR,.flag_IR{background-position:-260px -84px;}
.flag_964_IQ,.flag_IQ{background-position:0px -98px;}
.flag_353_IE,.flag_IE{background-position:-20px -98px;}
.flag_972_IL,.flag_IL{background-position:-40px -98px;}
.flag_39_IT,.flag_IT{background-position:-60px -98px;}
.flag_1_JM,.flag_JM{background-position:-80px -98px;}
.flag_81_JP,.flag_JP{background-position:-100px -98px;}
.flag_962_JO,.flag_JO{background-position:-120px -98px;}
.flag_7_KZ,.flag_KZ{background-position:-140px -98px;}
.flag_254_KE,.flag_KE{background-position:-160px -98px;}
.flag_686_KI,.flag_KI{background-position:-180px -98px;}
.flag_965_KW,.flag_KW{background-position:-200px -98px;}
.flag_996_KG,.flag_KG{background-position:-220px -98px;}
.flag_856_LA,.flag_LA{background-position:-240px -98px;}
.flag_371_LV,.flag_LV{background-position:-260px -98px;}
.flag_961_LB,.flag_LB{background-position:0px -112px;}
.flag_266_LS,.flag_LS{background-position:-20px -112px;}
.flag_231_LR,.flag_LR{background-position:-40px -112px;}
.flag_218_LY,.flag_LY{background-position:-60px -112px;}
.flag_423_LI,.flag_LI{background-position:-80px -112px;}
.flag_370_LT,.flag_LT{background-position:-100px -112px;}
.flag_352_LU,.flag_LU{background-position:-120px -112px;}
.flag_853_MO,.flag_MO{background-position:-140px -112px;}
.flag_389_MK,.flag_MK{background-position:-160px -112px;}
.flag_261_MG,.flag_MG{background-position:-180px -112px;}
.flag_265_MW,.flag_MW{background-position:-200px -112px;}
.flag_60_MY,.flag_MY{background-position:-220px -112px;}
.flag_960_MV,.flag_MV{background-position:-240px -112px;}
.flag_223_ML,.flag_ML{background-position:-260px -112px;}
.flag_356_MT,.flag_MT{background-position:0px -126px;}
.flag_692_MH,.flag_MH{background-position:-20px -126px;}
.flag_596_MQ,.flag_MQ{background-position:-40px -126px;}
.flag_222_MR,.flag_MR{background-position:-60px -126px;}
.flag_230_MU,.flag_MU{background-position:-80px -126px;}
.flag_52_MX,.flag_MX{background-position:-100px -126px;}
.flag_691_FM,.flag_FM{background-position:-120px -126px;}
.flag_373_MD,.flag_MD{background-position:-140px -126px;}
.flag_377_MC,.flag_MC{background-position:-160px -126px;}
.flag_976_MN,.flag_MN{background-position:-180px -126px;}
.flag_382_ME,.flag_ME{background-position:-200px -126px;}
.flag_1_MS,.flag_MS{background-position:-220px -126px;}
.flag_212_MA,.flag_MA{background-position:-240px -126px;}
.flag_258_MZ,.flag_MZ{background-position:-260px -126px;}
.flag_95_MM,.flag_MM{background-position:0px -140px;}
.flag_264_NA,.flag_NA{background-position:-20px -140px;}
.flag_674_NR,.flag_NR{background-position:-40px -140px;}
.flag_977_NP,.flag_NP{background-position:-60px -140px;}
.flag_31_NL,.flag_NL{background-position:-80px -140px;}
.flag_599_AN,.flag_AN{background-position:-100px -140px;}
.flag_687_NC,.flag_NC{background-position:-120px -140px;}
.flag_64_NZ,.flag_NZ{background-position:-140px -140px;}
.flag_505_NI,.flag_NI{background-position:-160px -140px;}
.flag_227_NE,.flag_NE{background-position:-180px -140px;}
.flag_234_NG,.flag_NG{background-position:-200px -140px;}
.flag_683_NU,.flag_NU{background-position:-220px -140px;}
.flag_850_KP,.flag_KP{background-position:-240px -140px;}
.flag_1_MP,.flag_MP{background-position:-260px -140px;}
.flag_47_NO,.flag_NO{background-position:0px -154px;}
.flag_968_OM,.flag_OM{background-position:-20px -154px;}
.flag_92_PK,.flag_PK{background-position:-40px -154px;}
.flag_680_PW,.flag_PW{background-position:-60px -154px;}
.flag_970_PS,.flag_PS{background-position:-80px -154px;}
.flag_507_PA,.flag_PA{background-position:-100px -154px;}
.flag_675_PG,.flag_PG{background-position:-120px -154px;}
.flag_595_PY,.flag_PY{background-position:-140px -154px;}
.flag_51_PE,.flag_PE{background-position:-160px -154px;}
.flag_63_PH,.flag_PH{background-position:-180px -154px;}
.flag_48_PL,.flag_PL{background-position:-200px -154px;}
.flag_351_PT,.flag_PT{background-position:-220px -154px;}
.flag_1_PR,.flag_PR{background-position:-240px -154px;}
.flag_974_QA,.flag_QA{background-position:-260px -154px;}
.flag_262_RE,.flag_RE{background-position:0px -168px;}
.flag_40_RO,.flag_RO{background-position:-20px -168px;}
.flag_7_RU,.flag_RU{background-position:-40px -168px;}
.flag_250_RW,.flag_RW{background-position:-60px -168px;}
.flag_290_SH,.flag_SH{background-position:-80px -168px;}
.flag_1_KN,.flag_KN{background-position:-100px -168px;}
.flag_1_LC,.flag_LC{background-position:-120px -168px;}
.flag_508_PM,.flag_PM{background-position:-140px -168px;}
.flag_1_VC,.flag_VC{background-position:-160px -168px;}
.flag_685_WS,.flag_WS{background-position:-180px -168px;}
.flag_378_SM,.flag_SM{background-position:-200px -168px;}
.flag_239_ST,.flag_ST{background-position:-220px -168px;}
.flag_966_SA,.flag_SA{background-position:-240px -168px;}
.flag_221_SN,.flag_SN{background-position:-260px -168px;}
.flag_381_RS,.flag_RS{background-position:0px -182px;}
.flag_248_SC,.flag_SC{background-position:-20px -182px;}
.flag_232_SL,.flag_SL{background-position:-40px -182px;}
.flag_65_SG,.flag_SG{background-position:-60px -182px;}
.flag_421_SK,.flag_SK{background-position:-80px -182px;}
.flag_386_SI,.flag_SI{background-position:-100px -182px;}
.flag_677_SB,.flag_SB{background-position:-120px -182px;}
.flag_252_SO,.flag_SO{background-position:-140px -182px;}
.flag_27_ZA,.flag_ZA{background-position:-160px -182px;}
.flag_82_KR,.flag_KR{background-position:-180px -182px;}
.flag_211_SS,.flag_SS{background-position:-120px -224px;;}
.flag_34_ES,.flag_ES{background-position:-200px -182px;}
.flag_94_LK,.flag_LK{background-position:-220px -182px;}
.flag_249_SD,.flag_SD{background-position:-240px -182px;}
.flag_597_SR,.flag_SR{background-position:-260px -182px;}
.flag_268_SZ,.flag_SZ{background-position:0px -196px;}
.flag_46_SE,.flag_SE{background-position:-20px -196px;}
.flag_41_CH,.flag_CH{background-position:-40px -196px;}
.flag_963_SY,.flag_SY{background-position:-60px -196px;}
.flag_886_TW,.flag_TW{background-position:-80px -196px;}
.flag_992_TJ,.flag_TJ{background-position:-100px -196px;}
.flag_255_TZ,.flag_TZ{background-position:-120px -196px;}
.flag_66_TH,.flag_TH{background-position:-140px -196px;}
.flag_228_TG,.flag_TG{background-position:-160px -196px;}
.flag_690_TK,.flag_TK{background-position:-180px -196px;}
.flag_676_TO,.flag_TO{background-position:-200px -196px;}
.flag_1_TT,.flag_TT{background-position:-220px -196px;}
.flag_216_TN,.flag_TN{background-position:-240px -196px;}
.flag_90_TR,.flag_TR{background-position:-260px -196px;}
.flag_993_TM,.flag_TM{background-position:0px -210px;}
.flag_1_TC,.flag_TC{background-position:-20px -210px;}
.flag_688_TV,.flag_TV{background-position:-40px -210px;}
.flag_256_UG,.flag_UG{background-position:-60px -210px;}
.flag_380_UA,.flag_UA{background-position:-80px -210px;}
.flag_971_AE,.flag_AE{background-position:-100px -210px;}
.flag_44_GB,.flag_GB{background-position:-120px -210px;}
.flag_1_US,.flag_US,.flag_UM{background-position:-140px -210px;}
.flag_598_UY,.flag_UY{background-position:-160px -210px;}
.flag_1_VI,.flag_VI{background-position:-180px -210px;}
.flag_998_UZ,.flag_UZ{background-position:-200px -210px;}
.flag_678_VU,.flag_VU{background-position:-220px -210px;}
.flag_379_VA,.flag_VA{background-position:-240px -210px;}
.flag_58_VE,.flag_VE{background-position:-260px -210px;}
.flag_84_VN,.flag_VN{background-position:0px -224px;}
.flag_681_WF,.flag_WF{background-position:-20px -224px;}
.flag_967_YE,.flag_YE{background-position:-40px -224px;}
.flag_260_ZM,.flag_ZM{background-position:-60px -224px;}
.flag_263_ZW,.flag_ZW{background-position:-80px -224px;}
.flag_44_JE{background-position:-40px -238px;}
.flag_61_CX{background-position:-220px -224px;}
.flag_AQ{background-position:-160px -224px;}	
.flag_BV,.flag_SJ{background-position:-180px -224px;}	
.flag_IO{background-position:-200px -224px;}	
.flag_CX{background-position:-220px -224px;}	
.flag_CC{background-position:-240px -224px;}	
.flag_TF{background-position:-260px -224px;}	
.flag_GG{background-position:0px -238px;}	
.flag_HM{background-position:-20px -238px;}	
.flag_JE{background-position:-40px -238px;}	
.flag_YT{background-position:-60px -238px;}	
.flag_NF{background-position:-80px -238px;}	
.flag_PN{background-position:-100px -238px;}	
.flag_GS{background-position:-120px -238px;}	
.flag_EH{background-position:-140px -238px;}	
.flag_IM{background-position:-160px -238px;}