/* $Id: $ */
@CHARSET "UTF-8";

.fcontainer {
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #FFFFFF;
	border : 1px solid #DADADB;
	padding: 31px 34px;
	float: left;
	box-shadow : 0 0 3px #AAAAAA;
}

.form-title {
	font-size: 18px;
	margin-bottom: 12px;
}

.forgotoutersection {
	margin: 0 auto;
	width: 400px;
}

.za-captcha {
	border: 1px solid #D6D6D6;
	margin-top: 10px;
	width: 200px;
	height: 70px;
	display: block;
}

.za-msgbox {
	color: #888;
	width: 30%;
	position: absolute;
	top: 129px;
	left: 902px;
	padding: 5px;
	max-width: 400px;
}

.za-msgbox.error {
	color: #FF0000;
}
/***new container*/
.fcontainer2 {
	margin: 5px auto;
	padding: 10px;
	width: 100%;
}

.fcontainer2 .form-ttl {
	font-size: 18px;
	margin-bottom: 12px;
	width: 100%;
}

.recoverymainpage,.recoveryoptions {
	margin: 0 auto;
	display: none;
	width: 600px;
}

.label_radio input {
	margin-right: 5px;
}

.label_radio {
	padding-left: 34px;
}

.label_pwdhistory {
	padding-left: 34px;
	margin-right: 5px;
}

.label_pwdhistory input {
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #D6D6D6;
	width: 100%;
	font-family: inherit;
}

.fcontainer2 label {
	cursor: pointer;
	display: block;
	line-height: 20px;
	padding-bottom: 9px;
	margin-top: 4px;
	color: #444444;
}

.notes_text {
	color: grey;
	margin-top: 18px;
}

.email_field {
	display: none;
	padding: 5px;
}

.mobile_field {
	display: none;
	padding: 3px;
	font-size: 13px;
	color: #444444;
}

.mobile_input {
	margin-top: 18px;
	color: #444444;
}

.verification_mobile {
	font-size: 13px;
	padding: 5px;
	border: 1px solid #D6D6D6;
	font-family: inherit;
	margin-top: 13px;
}

.email_notify a {
	text-decoration: none;
}

.email_notify {
	font-size: 13px;
	font-family: sans-serif;
}