/* $Id: $ */
@CHARSET "UTF-8";



/*---------------Top message-----------------*/

        .top_div
        {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 0px;
            position: absolute;
            height: 40px;
            width: 400px;
            background: rgba(221, 221, 221, 0.22);
            border-right: 3px solid #ef4444;
            color: #ef4444;
            display:none;
        }
        .cross_mark
        {
            position: relative;
            display: inline-block;
            background-color: #ef4444;
            height: 40px;
            width: 40px;
        }
        .crossline1
        {
                top: 18px;
                margin: auto;
                position: relative;
                border-radius: 2px;
                height: 4px;
                width: 20px;
                display: block;
                background-color: #fff;
                transform: rotate(45deg);
        }
        .crossline2
        {
            top: 14px;
            border-radius: 2px;
            height: 4px;
            width: 20px;
            display: block;
            background-color: #fff;
            transform: rotate(-45deg);
            position: relative;
            margin: auto;
        }
        
        .top_msg
        {
            position: relative;
            font-size: 13px;
            display: inline-block;
            text-align: center;
            color: #000;
            width: 86%;
            height: 100%;
            box-sizing: border-box;
            float: right;
            padding: 10px;
            left: -15px;
            
        }  
        .error_notif , .captcha_error_notif
        {
            color: #ff6164;
            margin-left: 5px;
            font-size: 12px;
            margin-top: -25px;
        }





body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src:url('../../images/opensanslight/font.eot');
    src:local('Open Sans'),
    	url('../../images/opensanslight/font.eot') format('eot'),
        url('../../images/opensanslight/font.woff') format('woff'), 
        url('../../images/opensanslight/font.ttf') format('truetype'),
        url('../../images/opensanslight/font.svg') format('svg');
}
.container
{
    margin-top: 4%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.zoho_logo
{
    height: auto;
    width: auto;
}

header .logo {
	background: url("../images/logo.png") 0 0 no-repeat;
	float: left;
	height: 24px;
	width: 195px;
}

header .partnerlogo {
	float: left;
	height: 24px;
	width: 195px;
}

.head_text
{
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 25px;
}
.name
{
        font-size: 0.9em;
        font-weight: bold;
    display: block;
}
.announcement_text
{
    line-height: 1.5;
    font-size: .8em;
    display: block;
    padding-top:17px;
}


.blur_screen
		{
			display: none;
			height: 100%;
			width: 100%;
			background-color: #fff;
			opacity: .9;
			position: fixed;
			z-index: 100;
		}

.announcement_popup
		{
			display: none;
			width: 360px;
			height: auto;
			box-sizing: border-box;
			padding: 30px;
			position: fixed;
			z-index: 101;
			left:0;
			right: 0;
			background-color: #fff;
			margin: auto;
			margin-top: 10%;
			border: 1px solid #e4e4e4;
			box-shadow:0px 3px 6px hsla(0, 0%, 80%, 0.25);
			border-radius: 3px;
		}
		
		
		.success_tick
		{
			display: block;
			height: 40px;
			width: 40px;
			background: url("../../images/tick.png") no-repeat transparent;
			margin: auto;
		}
		.success_message
		{
			display: block;
			font-size: 20px;
			padding: 15px 0px;
			text-align: center;
		}
		.success_description
		{
			display: block;
			font-size: 14px;
			font-weight: 100;
			line-height: 22px;
			text-align: center;
		}
	

.verify_btn , .skip_btn
{
    margin-right: 10px;
    cursor: pointer;
    font-size: .8em;
    border: none;
    background-color: #1ab2f1;
    padding: 10px 10px;
    color: #fff;
    display: inline-block;
    font-weight: 100;
}
.verify_btn:hover
{
    background-color: #18a9e5;
}
.skip_btn
{
    margin-top: 10px;
    background-color: #eeeeee;
    color: #000;
    text-decoration: none;
}

.btns
{
    display: block;
    margin-top: 15px;
}
	.btn_center
		{
			cursor: pointer;
			display: block;
			margin:auto;
			margin-top: 4px;
			max-width: 100px;
			text-align: center
		}
.spacing
{
    line-height: 2.5;
}

.merge_icon 
{
    display: inline-block;
    height: 24px;
    width: 24px;
    float: left;
    margin: 10px;
    margin-right: 15px;
}
.merge_header 
{
    display: block;
    width: 100%;
    padding: 0px 0px 20px 0px;
}
.merge_desc 
{
    display: inline-block;
    width: 75%;
    height: auto;
}
.innerbox_head ,.service_head
{
        font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    padding-bottom: 2px;
}
.service_head
{
    width:auto;
}
.innerbox_discription
{
        font-size: 12px;
        font-weight: 100;
}
.merge_info_box
{
        margin-top: 25px;
}
.users_icon
{
    background: url("../images/merge_icons.png") no-repeat scroll 0px -50px;
    background-size: 100%;

}
.app_icon
{
    background: url("../images/merge_icons.png") no-repeat scroll 0px -25px;
    background-size: 100%;
}
.grp_icon
{
    background: url("../images/merge_icons.png") no-repeat scroll;
    background-size: 100%;
}
.services_box
{
    margin-top:15px;
    width: 100%;
    display:none;
}

.service_icon
{
    background: url("../../images/product-logo.png") no-repeat scroll;
    background-size: 100%;
    height:20px;
    width:20px;
    display: inline-block;
    margin-right: 10px;
    float:left;

}
.service_space
{
    display: inline-block;
    width: 160px;
    padding: 15px 0px 0px 0px;
    margin-right: 10px;
}
.extra_apps
{
    cursor: pointer;
}

#app_space
{
    padding-bottom: 0px;
}

#app_space:hover  .extra_apps
{
        color: blue;
}

/* footer { */
/* 	clear: both; */
/* 	font-size: 11px; */
/* 	padding: 10px 5px; */
/* 	position: relative; */
/*  	text-align: center; */
/*     top: 145px; */
/*     width: 100%; */
/*     color: #888888; */
/*     font-size: 11px; */
/*     height: 30px; */
/* 	color: #888; */
/* 	font-weight: normal; */
/* } */

/* footer a,footer span { */
/* 	color: #888; */
/* 	font-family: Lucida Grande,Segoe UI,Roboto,Helvetica,sans-serif; */
/* } */
/* footer a:after { */
/* 	content: "|"; */
/* 	padding: 0 5px; */
/* } */

/* footer a:last-child:after { */
/* 	content: ""; */
/* } */

/* footer div { */
/* 	float: right; */
/* } */






#footer
    {
        width:100%;
        height:20px;
        
    }
    #footer div
    {
        text-align:center;
        font-size: 70%;
    }
    #footer div a
    {
        text-decoration:none;
    }
    #height
    {
        height:100%;
        width:1px;
        background-color:transparent;
        position: absolute;
        display:none;
    }


.btn_loading
{
	height: 16px;
	width: 16px;
	margin: 2px;
	margin-left: 10px;
    background: url(../../images/loading0.png) no-repeat transparent 0px 0px;
	background-size: 100%;
	animation: rotate .8s infinite;
	display: none;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
.btn_text
{
	height: 20px;
	display: inline-block;
	float: left;
	width: auto;
	font-size: 14px;
	line-height: 20px;
}


 .zohoassist_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px 0px;
            background-size: 100%;
        }
        .zohobooks_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -20px;
            background-size: 100%;
        }
        .zohobug_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -40px;
            background-size: 100%;
        }
        .zohocampaigns_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -60px;
            background-size: 100%;
        }
        .zohoconnect_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -80px;
            background-size: 100%;
        }
        .zohocontactmgr_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -100px;
            background-size: 100%;
        }
        .zohocreator_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -120px;
            background-size: 100%;
        }
        .zohocrm_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -140px;
            background-size: 100%;
        }
        .zohodocs_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -160px;
            background-size: 100%;
        }
        .zohoinvoice_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -180px;
            background-size: 100%;
        }
        .zohomail_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -200px;
            background-size: 100%;
        }
        .zohomeeting_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -222px;
            background-size: 100%;
        }
        .zohopeople_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -242px;
            background-size: 100%;
        }
        .zohoprojects_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -262px;
            background-size: 100%;
        }
        .zohorecruit_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -282px;
            background-size: 100%;
        }
        .zohoreports_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -300px;
            background-size: 100%;
        }
        .zohosalesiq_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -322px;
            background-size: 100%;
        }
        .zohoone_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -343px;
            background-size: 100%;
        }
        .zohoshowtime_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -364px;
            background-size: 100%;
        }
        .zohosite24x7_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -384px;
            background-size: 100%;
        }
         .zohowriter_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -402px;
            background-size: 100%;
        }
        .zohosites_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -405px;
            background-size: 100%;
        }
        .zohosocial_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -423px;
            background-size: 100%;
        }
        .zohosubscriptions_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -445px;
            background-size: 100%;
        }
        .zohosupport_icon , .zohodesk_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -464px;
            background-size: 100%;
        }
        .zohosurvey_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -484px;
            background-size: 100%;
        }
        .zohovault_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -504px;
            background-size: 100%;
        }
        .zohotwo_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -524px;
            background-size: 100%;
        }
        .zohoexpence_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -545px;
            background-size: 100%;
        }
        .zohoshowtime2_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -565px;
            background-size: 100%;
        }
        .zohocalender_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -585px;
            background-size: 100%;
        }
        .zohoforms_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -605px;
            background-size: 100%;
        }
        .zohothree_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -625px;
            background-size: 100%;
        }
        .zohomotivator_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -646px;
            background-size: 100%;
        }
        .zohochat_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -666px;
            background-size: 100%;
        }
        .zohofour_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -685px;
            background-size: 100%;
        }
        .zohoinventory_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -705px;
            background-size: 100%;
        }
        .zohoappcreator_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -725px;
            background-size: 100%;
        }
        .zohosalesinbox_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -748px;
            background-size: 100%;
        }
        .zohomdm_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -765px;
            background-size: 100%;
        }
        .zohocheckout_icon
        {
            background: url("../../images/product-logo.png") no-repeat transparent 0px -785px;
            background-size: 100%;
        }

