/* $Id: $ */
@CHARSET "UTF-8";

.form-title {
	font-size: 18px;
	margin-bottom: 12px;
}

.resetcontainer {
	margin: 0 auto;
	padding: 10px;
}

.resetoutersection {
	width: 470px;
	margin: 0 auto; 
}

.successmsg {
	border: 1px solid #b5d8b8;
	background-color: #caf4cd;
	margin: 5% 6px;
	text-align:center;
	display: none;
}
.ptxt {
	font-size: 15px;
	margin: 15px;
}