<!--$Id$-->
<td>
<table class="translationsTable" id="rowodd">
  <tr id="rowhead"> 
    <td align="left">
    Translation (by ${{DISPLAYNAME}}) : 
    <a href="javascript:void(0);" onclick="guestLogin('${{CREATEDBYLID}}','0')" title="Preview translated version">Preview</a>
    &nbsp;&nbsp;
    |&nbsp;&nbsp; ${{DOWNLOAD}} &nbsp;</td>
  </tr>
  <tr> 
    <td>${{DESCRIPTION}}</td>
  </tr>
  <tr> 
    <td align="left" >${{PERCENTAGE}}% complete, <span id="lastupdated"> 
      Last published on : ${{PUBLISHED_ON}}</span></td>
  </tr>
</table>
</td>