/*$Id$*/
 *{box-sizing: border-box;}
 
@font-face {
  font-family: 'icomoon';
  src:  url('../images/fonts/icomoon.eot');
  src:  url('../images/fonts/icomoon.eot') format('embedded-opentype'),
    url('../images/fonts/icomoon.ttf') format('truetype'),
    url('../images/fonts/icomoon.woff') format('woff'),
    url('../images/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hellouser span{
	margin-right: 4px;
}
.icon-hide:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e901";
}
.icon-show:before {
  content: "\e902";
}
body {
	margin: 0px;
}
.confirm_head{
	display: block;
    height: auto;
    width: 500px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px 0 rgb(44 44 44 / 9%);
    border-radius: 6px;
    padding: 30px 50px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.hellouser {
	margin-bottom: 30px;
}
.username {
	display: inline-block;
    font-size: 16px;
    padding: 12px 14px;
    line-height: 20px;
    width: auto;
    word-break: break-all;
    cursor: default;
}
.confirmtitle{
	display: block;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
	line-height: 30px;
	transition: all .1s ease-in-out;
}
.confirmdesc{
	display: block;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}
.textbox {
    display: block;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-radius: 2px;
    text-indent: 12px;
    font-size: 16px;
    outline: none;
    border: none;
    padding-right: 12px;
    transition: all .2s ease-in-out;
    border: 1px solid #E4E4E4;
}
.btn {
	cursor: pointer;
	display: block;
	width: 100%;
	height: 44px;
	border-radius: 4px;
	letter-spacing: .5;
	font-size: 14px;
	font-weight: 600;
	outline: none;
	border: none;
	margin: auto;
	text-transform: uppercase;
	margin-bottom: 30px;
	transition: all .2s ease-in-out;
}
.blue {
	box-shadow: 0px 2px 2px #fff;
	background-color: #159AFF;
	color: #fff;
}
#password_container,#cpassword_container{
	position: relative;
	margin-bottom:30px;
}
.hellouser {
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
    border-radius: 7px;
    box-sizing: border-box;
    max-width: 100%;
    flex-wrap: nowrap;
    
}
.urlexpired_container,.alreadyaccepted_container,.account_verified_container{
	display: block;
    height: auto;
    width: 450px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0 2px 30px 0 rgb(44 44 44 / 9%);
    border-radius: 6px;
    padding: 30px 50px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.urlexpired_title,.accepted_title{
	display: block;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
	line-height: 30px;
	transition: all .1s ease-in-out;
	text-align:center;
}
.urlexpired_desc,.accepted_desc{
	display: block;
    font-size: 14px;
    line-height:22px;
    color: #000;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
}
.successicon{
	background: url("../images/Sucess.png") no-repeat transparent;
    background-size: auto 100%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.expireicon{
	background: url("../images/Error.png") no-repeat transparent;
    background-size: auto 100%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.text16 {
	display: block;
	text-align: center;
	margin-bottom: 30px;
	color: #626262;
	font-size: 16px;
	font-weight:500;
	text-decoration: none;
}
.pointer {
	cursor: pointer;
}
#forgotpassword .text16 {
    color: #0091FF;
}
.success_container{
	display:none;
}
a {
    text-decoration: none;
    color: #159AFF;
}
.capschar{
	text-transform: uppercase;
}
.show_hide_password{
    font-size: 34px;
    color: #a7a7a7;
    position: absolute;
    top: 7px;
    right: 13px;
    float: right;
    cursor: pointer;
    background-color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
	.successicon{
		background: url("../images/Sucess2x.png") no-repeat transparent;
	    background-size: auto 100%;
	    height: 100px;
	    width: 100px;
	    margin: 0 auto;
	}
	.expireicon{
		background: url("../images/Error2x.png") no-repeat transparent;
	    background-size: auto 100%;
	    height: 100px;
	    width: 100px;
	    margin: 0 auto;
	}
}
.fielderror{
	display:none;
	font-size: 14px;
	margin-top: 10px;
}
.errorborder {
	border: 2px solid #ff8484;
}
.errorlabel {
    color: #E92B2B;
}
