/*$Id$*/
@charset "utf-8";

body,input,button
{
    font-weight: 400;
	margin: 0px;
} 

input::-webkit-credentials-auto-fill-button {
	margin-right: 25px;
}
.bg
{
	width: 100%;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100%;
    background: url("../images/bg.svg") no-repeat;
    background-size: cover;
}
.container
{
    display: block;
    height: 100%;
    width: 500px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
	box-shadow: 0 2px 30px 0 rgba(44,44,44,0.09);
	border-radius: 6px;
	padding:30px 50px;
	box-sizing:border-box;
	margin-bottom:30px;
}
.zoho_logo
{
    display: block;
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    background: url("../images/zoho.png") no-repeat transparent;
    background-size: auto 100%;
}
.head_text , .shift_text
{
    display: block;
    font-size: 26px;
    font-weight:500;
    margin-top:20px;
}

.shift_text
{
    margin-bottom: 20px;
}
.name
{
	font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
    display: inline-block;
    float: left;
}
.mail_id
{
	line-height: 34px;
	font-size: 18px;
	margin-top:20px;
}
.announcement_text
{
	margin-top: 10px;
	font-size: 16px;
	display:block;
	line-height: 24px;
}
.forgotpasslink {
	font-size: 16px;
	color: #626262;
	text-align: center;
	margin-top: 30px;
	width:100%;
	margin-bottom:45px;
	cursor:pointer;
}
.notyoulink 
{
	color: #3e6dd4;
  	cursor: pointer;
  	white-space:nowrap;
  	margin-left: 10px;
}

.time
{
    display: block;
    margin: 4% 0px;
    font-weight: bold;
    font-size: .8em;
}
.btn
{
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    border: none;
	background: #159AFF;
	line-height:44px;
	font-weight:600;
	border-radius: 2px;
    padding: 0px 20px;
    color: #fff;
    width:100%;
    display: block;
	
}
.btn
{
	display: inline-block;
}
.add_grey
{
	margin-left: 10px;
	background-color: #eee;
	color: #000;
}
.add_grey:hover
{
	background-color: #eee;
}

button
{
	outline: none;
}
.display_pic {
    margin-bottom: 30px;
    margin-top: 10px;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 1px #ccc solid;
}
/*========== form field ================*/

.forms
{
	display: block;
    width: 100%;
    margin-top: 30px;
    position: relative;
     }
.text_box
{
    font-size: 1em;
    height: 44px;
    display: block;
    width: 100%;
    border: none;
    padding: 0px 12px;
    outline: none;
    background: #F2F5F7;
    box-sizing:border-box;
    line-height:44px;
    border-radius: 2px;
}


.error_msg
{
  color:red;
  margin-top:10px;
}
.pass_icon
{
    height: 25px;
    display: inline-block;
    width: 25px;
    position: absolute;
    background: url("../images/hide.png");
    background-size: 25px 25px;
    top: 9px;
    right: 9px;
    cursor:pointer;
}
.pass_hide{
	 background: url("../images/show.png");
	 background-size: 25px 25px;
}
#footer div
{
    text-align:center;
    font-size: 14px;
}
#footer div a
{
    text-decoration:none;
    color: #727272;
    font-size: 14px;
    
}
#footer {
    width: 100%;
    height: 20px;
    font-family: 'ZohoPuvi', Georgia;
    font-size: 14px;
    color: #727272;
    position: absolute;
    margin: 20px 0px;

}


.line 
{
    background-color: #f1f1f1;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 20px;
}
.signin_fed_text {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #444;
	margin-bottom: 10px;
}

/* Federated icons*/
    .fed_div
    {
        display: inline-block;
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        float: left;
    }
    .small_box
    {
        width: 40px;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .fed_icon
    {
        display: block;
        height: 18px;
        width: 18px;
        margin: 11px;
        overflow: hidden;
    }
    .google_icon
    {
        background-color: #fff;
        width: auto;
        box-shadow:  0px 0px 2px #00000012 ,  0px 2px 2px #00000024 ;
    }
    .google_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -10px -204px;
        width: 75px;
        margin: 11px 8px;
    }
    .MS_icon
    {
        background-color: #2F2F2F;
    }
    .MS_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -38px -10px;
    }
    .linkedin_icon
    {
        background-color: #0966C2;
    }
    .linkedin_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        width: 80px;
        background-position: -9px -174px;
    }
    .small_box .linked_fed_icon{
    	width: 18px;
    	background-position: -66px -10px;
    }
    .fb_icon
    {
        background-color: #2554A2;
    }
    .feishu_icon
    {
 	    background-color: #fff;
        box-sizing: border-box;
        border: 2px solid #EEEEEE; 
    }
    .feishu_icon .fed_icon
    {
   	    background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -160px -66px;
        margin-left: 8px;
    }
    .fb_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -94px -10px;
    }
    .yahoo_icon
    {
        background-color: #6001D2;
    }
    .yahoo_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -150px -10px;
    }
    .twitter_icon
    {
        background-color: #00A2F6;
    }
    .twitter_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -122px -10px;
    }
    
    .adp_icon
    {
        background-color: #D0271D;
    }
    .adp_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -150px -38px;
        height: 14px;
        width: 28px;
        margin: 13px 6px;
    }
    .slack_icon
    {
        background-color: #fff;
        box-sizing: border-box;
        border: 2px solid #EEEEEE;
    }
    .slack_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -178px -10px;
        margin: 9px;
    }
    .wechat_icon
    {
        background-color: #00C759;  
    }
    .wechat_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -10px -38px;
    }
    .weibo_icon
    {
        background-color: #fff;
        box-sizing: border-box;
        border: 2px solid #EEEEEE; 
    }
    .weibo_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -38px -38px;
        margin: 9px 8px;
    }
    .qq_icon
    {
        background-color: #fff;
        box-sizing: border-box;
        border: 2px solid #EEEEEE; 
    }
    .qq_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -66px -38px;
        margin: 9px;
    }
    .baidu_icon
    {
        background-color: #fff;
        box-sizing: border-box;
        border: 2px solid #EEEEEE; 
    }
    .baidu_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -94px -38px;
        margin: 9px;
    }

    .douban_icon
    {
        background-color: #007601;
    }
    .douban_icon .fed_icon
    {
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -122px -38px;
        background-size:205px auto;
    }
    .apple_normal_icon
    {
        background-color: #000;
        overflow: hidden;
    }
    .apple_normal_icon .fed_icon
    {
        height: 18px;
        width: 16px;
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -12px -75px;
        margin: 10px auto;
    }
    .darkmode .apple_normal_icon
    {
        background-color: #fff;
        overflow: hidden;
    }
    .darkmode .apple_normal_icon .fed_icon
    {
        height: 18px;
        width: 15px;
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -40px -75px;
        margin: 10px auto;
    }
    .intuit_icon
    {
        background-color: #3D5796;
        overflow: hidden;
    }
    .intuit_icon .fed_icon
    {
        height: 40px;
        width: 40px;
        background: url("../images/signin_icons.png") no-repeat transparent;
        background-position: -110px -66px;
        margin: 0px;
    }
    
    .large_box
    {
        max-width: 240px;
        width: 46%;
        min-width: 120px;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .large_box:nth-child( odd )
    {
        margin-right: 0px;
    }
     .large_fed
    {
        margin-top: 40px;
    }
    .large_box .fed_icon
    {
        display: inline-block;
        margin: 11px 0px;
        float: left;
    }
    .fed_text, .fed_text_avoid
    {
        display: inline-block;
        margin: 10px;
        margin-right: 0px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: .22;
        float: left;
    }
    .fed_center, .fed_center_google
    {
        display: block;
        margin: auto;
        width: max-content;
    }
    .small_box .fed_center_google
    {
        display: block;
    }
    .fed_center_google .fed_icon
    {
        display: inline-block;
        float: left;
    }
    .small_box .fed_text_avoid
    {
        margin-left: 5px;
        margin-right: 15px;
    }
    .MS_icon .fed_text
    {
        color: #FFFFFF;
    }
    .google_icon .fed_text_avoid
    {
        color: #757575;
    }
    .twitter_icon .fed_text, .wechat_icon .fed_text, .linkedin_icon .fed_text
    {
        color: #fff;
    }
    .fb_icon .fed_text{
    	color: #fff;
    }
    .large_box .fb_fedicon
    {
	    display: block;
	    height: 18px;
	    width: 21px;
	    margin: 13px auto;
	    background: url("../images/signin_icons.png") no-repeat transparent -91px -10px;
    }
    .large_box .yahoo_fedicon
    {
        display: block;
        height: 20px;
        width: 72px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -135px -116px;
        float: none;
    }
    .large_box .slack_fedicon
    {
        display: block;
        height: 20px;
        width: 78px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -10px -146px;
        float: none;
    }
    .large_box .qq_fedicon
    {
        display: block;
        height: 20px;
        width: 43px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -10px -116px;
        float: none;
    }
    .large_box .baidu_fedicon
    {
        display: block;
        height: 20px;
        width: 63px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -62px -116px;
        float: none;
    }
    .large_box .douban_fedicon
    {
        display: block;
        height: 20px;
        width: 42px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -148px -146px;
        float: none;
    }
    .large_box .apple_normal_large
    {
        display: block;
        height: 16px;
        width: 125px;
        margin:12px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -10px -200px;
        float: none;
    }
    .darkmode .large_box .apple_normal_large
    {
        display: block;
        height: 16px;
        width: 125px;
        margin:12px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -10px -226px;
        float: none;
    }
    .large_box .intuit_fedicon
    {
        display: block;
        height: 14px;
        width:56px;
        margin:13px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -94px -176px;
        float: none;
    }
    .large_box .adp_fedicon
    {
        display: block;
        height: 20px;
        width:40px;
        margin:10px auto;
        background: url("../images/signin_icons.png") no-repeat transparent -98px -146px;
        float: none;
    }
    .darkmode .MS_icon{
      	background-color: #FFFFFF;
    }
    .darkmode .MS_icon .fed_text{
      	color: #5E5E5E;
    }
    .nopassword_container {
	    display: none;
	    background: #EBF4FB;
	    border: 1px solid #CBE8FF;
	    border-radius: 5px;
	    width: 400px;
	    height: auto;
	    position: absolute;
	    bottom: 50px;
	    box-sizing: border-box;
	    padding: 20px;
        margin-top: 30px;
	}
    .nopassword_icon {
	    display: table-cell;
	    margin: 0px;
	    height: 30px;
	    width: 30px;
	    color: #0091FF;
	    font-size: 30px;
	    vertical-align: middle;
	}
    .nopassword_message {
	    display: table-cell;
	    font-size: 14px;
	    color: #222222;
	    letter-spacing: 0px;
	    line-height: 20px;
	    height: auto;
	    width: auto;
	    margin-left: 10px;
	    font-weight: 400;
	    padding-left: 10px;
	}
	.nopassword_message a {
	    text-decoration: none;
	    color: #159AFF;
	}
/*        ------------------------- retina media starts -------------------------------*/
    
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
    {
        
        .google_icon
        {
            background-color: #fff;
            box-shadow:  0px 0px 2px #00000012 ,  0px 2px 2px #00000024 ;
        }
        .google_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -10px -204px;
            margin: 11px 8px;
        }
        .MS_icon
        {
            background-color: #FFECE6;
        }
        .MS_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -38px -10px;
        }
        .linkedin_icon
        {
            background-color: #007CB9;
        }
        .linkedin_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -67px -11px;
        }
        .fb_icon
        {
            background-color: #2554A2;
        }
        .fb_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -94px -10px;
        }
        .yahoo_icon
        {
            background-color: #6001D2;
        }
        .yahoo_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -150px -10px;
        }
        .twitter_icon
        {
            background-color: #00A2F6;
        }
        .twitter_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -122px -10px;
        }
        .adp_icon
        {
            background-color: #D0271D;
        }
        .adp_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -150px -38px;
            height: 14px;
            width: 28px;
            margin: 13px 6px;
        }
        .slack_icon
        {
            background-color: #fff;
            box-sizing: border-box;
            border: 2px solid #EEEEEE;
        }
        .slack_icon .fed_icon
        {
            background: url("../images/signin_icons.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -178px -10px;
            margin: 9px;
        }
        .wechat_icon
        {
            background-color: #00C759;  
        }
        .wechat_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-position: -10px -38px;
            background-size:205px auto;
        }
        .weibo_icon
        {
            background-color: #fff;
            box-sizing: border-box;
            border: 2px solid #EEEEEE; 
        }
        .weibo_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-position: -38px -38px;
            background-size:205px auto;
            margin: 9px 8px;
        }
        .qq_icon
        {
            background-color: #fff;
            box-sizing: border-box;
            border: 2px solid #EEEEEE; 
        }
        .qq_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-position: -66px -38px;
            background-size:205px auto;
            margin: 9px;
        }
        .baidu_icon
        {
            background-color: #fff;
            box-sizing: border-box;
            border: 2px solid #EEEEEE; 
        }
        .baidu_icon .fed_icon
        {
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-position: -94px -38px;
            background-size:205px auto;
            margin: 9px;
        }
        .douban_icon
        {
            background-color: #007601;
        }
        .douban_icon .fed_icon
        {
            background: url("../images/signin_icons.png") no-repeat transparent;
            background-position: -122px -38px;
            background-size:205px auto;
        }
        .apple_normal_icon
        {
            background-color: #000;
            overflow: hidden;
        }
        .apple_normal_icon .fed_icon
        {
            height: 18px;
            width: 16px;
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -12px -75px;
            margin: 10px auto;
        }
        .feishu_icon .fed_icon
	    {
	        background: url("../images/signin_icons@2x.png") no-repeat transparent;
	        background-size:205px auto;
	        background-position: -160px -66px;
	        margin-left: 8px;
	    }
        .darkmode .apple_normal_icon
        {
            background-color: #fff;
            overflow: hidden;
        }
        .darkmode .apple_normal_icon .fed_icon
        {
            height: 18px;
            width: 16px;
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -40px -75px;
            margin: 10px auto;
        }
        .intuit_icon
        {
            background-color: #3D5796;
            overflow: hidden;
        }
        .intuit_icon .fed_icon
        {
            height: 40px;
            width: 40px;
            background: url("../images/signin_icons@2x.png") no-repeat transparent;
            background-size:205px auto;
            background-position: -110px -66px;
            margin: 0px;
        }
            .large_box .fb_fedicon
        {
            display: block;
		    height: 18px;
		    width: 18px;
		    margin: 13px auto;
		    background: url("../images/signin_icons@2x.png") no-repeat transparent -94px -10px;
		    background-size: 205px auto;
		    float: left;
        }
        .large_box .yahoo_fedicon
        {
            display: block;
            height: 20px;
            width: 72px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -135px -116px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .slack_fedicon
        {
            display: block;
            height: 20px;
            width: 78px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -10px -146px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .qq_fedicon
        {
            display: block;
            height: 20px;
            width: 43px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -10px -116px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .baidu_fedicon
        {
            display: block;
            height: 20px;
            width: 63px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -62px -116px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .douban_fedicon
        {
            display: block;
            height: 20px;
            width: 42px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -148px -146px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .apple_normal_large
        {
            display: block;
            height: 16px;
            width: 125px;
            margin:12px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -10px -200px;
            background-size: 205px auto;
            float: none;
        }
        .darkmode .large_box .apple_normal_large
        {
            display: block;
            height: 16px;
            width: 125px;
            margin:12px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -10px -226px;
            background-size: 205px auto;
            float: none;
        }
        .darkmode .weibo_text{
        	color: #787878;
        }
        .large_box .intuit_fedicon
        {
            display: block;
            height: 14px;
            width:56px;
            margin:13px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -92px -176px;
            background-size: 205px auto;
            float: none;
        }
        .large_box .adp_fedicon
        {
            display: block;
            height: 20px;
            width:40px;
            margin:10px auto;
            background: url("../images/signin_icons@2x.png") no-repeat transparent -98px -146px;
            background-size: 205px auto;
            float: none;
        }
    }
.bluetext_action {
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #159AFF;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.zohosignin
{
	width: 92%;
    text-align: center;
    border: 2px solid #309FF4;
    color: #309FF4;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;  
}

.more {
	width: 40px;
    padding: 10px;
    float: right;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .12), 0px 2px 2px 0px rgba(0, 0, 0, .24); 
    text-align: center;
}

.morecircle {
	display: inline-block;
	height: 4px;
	width: 4px;
	border-radius: 3px;
	background-color: #D6D6D6;
	position: relative;
	top: -4px;
}

#all_idps
{
	overflow: auto;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
}

.invisible
{
	display:none;
}
.hide
{
	display: none;
}
/*check (landscape)---------------- */

@media only screen and (max-width : 435px)
{
	.container
	{
		display: block;
		height: 100%;
		box-shadow:none;
		margin-top:20px;
		width: 100%;
	}
	.bg{
		display:none;
	}
	#footer div,#footer a
	{
		font-size:12px !important;
	}

}